<h1><%= @question.title %></h1>
<p><%= @question.description %></p>

<ul>
  <% @question.answers.each do |answer| %>
    <li><%= answer.description %></li>
  <% end %>
</ul>
<%= form_for [@question, @answer] do |f| %>
  <div></div>
  <div class="form-group">
    <%= f.label :description, "Answer to Question:" %><br>
    <%= f.text_area :description, cols: "100", rows: "10" %><br>
  </div>
  <%= f.submit %>
<% end %>
